.Nav-container{
  height: 40px;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  top: 1%;
  left: 2%;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  background-color: rgba(67,139,60, 0.46);
  align-content: center;
  flex-wrap: wrap;
}

.Nav-container button{
  height: 24px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .4);
  border-width: 1px;
}

.Nav-container a{
  text-decoration: none;
  color: rgba(105, 105, 130, 1.0)
}



@media screen and (min-width: 860px){
  .Nav-container{
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
    top: 1%;
    left: 2%;
    height: 60px;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    background-color: rgba(67,139,60, 0.46);
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

  .Nav-container button{
  height: 24px;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .4);
  border-width: 1px;
}
  .Nav-container a{
  text-decoration: none;
  color: rgba(105, 105, 130, 1.0)
}

}